<%- include('partials/header'); %>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<div class="container">
  <div class="col-md-8 m-auto">
    <ul class="nav justify-content-center mt-5 mb-5">
      <li class="nav-item">
        <a class="nav-link"href="#">Make Your Pick</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="https://www.nfl.com/schedules/" target="_blank">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="#">Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="#">Message Board</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Dashboard</h1>
      <p>The Date is now <b><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %></b> 
        and the time is now <b><%= new Date().toLocaleTimeString() %></b></p>
    </div>
  </div>
  
</div>